# exclude all
/*

# include important folders
# need gradle 
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties

# include markdowns
!README.md
!LICENSE
!CONTRIBUTING.md

# include sourcecode
!src/

# include git important files
!.gitmodules
!.gitignore

# code format to reduce noise in git commits
!codeformat/