language: java
jdk:
- oraclejdk8
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
install: "./gradlew setupCIWorkspace"
script: "./gradlew build test"
deploy:
  provider: releases
  api_key:
    secure: hoIOb6WkNbwuv1T67zh4Gj1YPG2IhYzstd5m5JtbzQdAxGd/9w55tRtk6TxmHGlFnj2UR3hsvNH6LT6pUTqHUCR29LnMQwLBZUyUDYm+sg0sF26sv1FkORZrzuV0n+v3EBkDuQxuUjfzEXtPfZen4mca3EpTz2lKRm9f7Xt38yGWW3CLdgplD06N6SU2m+3f1tIneSZ5oNrKuZd6407yrS1l6UN14Z5vqmPiXga6LW+ryKhAmREULOZJSJOX7wrvGGMddMjVbySlJBz3LYPEf8ow15f5UQJ4MMu46wswSnKpDkwBelwZa/vweuGsbCmX2i0G4pO7675tHGySez1VAVK6itc4awqVRd4DHGt5X0++7nyeRLMbh/35Llsjm4QyFzepBOf2UoTVdEb6ATGVcZ4PExm3zVX3IdEw/2OweB5IkXZkYWnDnTCczfKT3AtvEyZH+6CKVFdW5KNbgWtur98uGAIuVI9T8/B4vKyfa0JfWzrtlLBdPWev4LvUsX5laOTkbmH+2K/cURVPaqX2VtMzQiM3dJvp/kwEtaRHVpift/yEyaqpHcnUmJ1rGWqkWlHfxabAQaRyWyCGsfVfmGwPJUkuHAXvKHP77MfsEsbEHlECHP8DXZfM4sm3eZiCT62Cni0JV3iIZDqolk0QLWQ84RtbbUBm1f64M/ErBSE=
  file_glob: true
  file: build/libs/*
  skip_cleanup: true
  on:
    tags: true
    repo: xsun2001/Applied-Energistics-2-Unofficial
    branch: rv3-1.7.10
