name: 'Build branches'

on:
  push:
    branches-ignore: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Use gradle cache for faster builds
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
      - name: Clean gradle
        run: ./gradlew clean --no-daemon
      - name: Validate no assets
        run: test ! -d ./src/generated
      - name: Generate assets
        run: ./gradlew runData --no-daemon
      - name: Validate assets
        run: test -d ./src/generated -a -f ./src/generated/resources/.cache/cache
      - name: Build with Gradle
        run: ./gradlew build --no-daemon --info
      - name: Run Game Tests
        run: ./gradlew runGametest --no-daemon --info
      - name: Upload new Source Text Strings to Crowdin
        run: ./gradlew uploadToCrowdin --no-daemon --info
        env:
          GIT_BRANCH: master
          CROWDIN_TOKEN: ${{ secrets.CROWDIN_TOKEN }}
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: build/libs/
