name: 'Build and Test'

on:
  push:
  pull_request:
    branches:
      - '*'

# Cancel outdated builds for the same branch
concurrency:
  group: ci-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    # Only run the pull-request build if the pull-request was opened from another repository,
    # since we already run this workflow for the branch the pull request was made from.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'microsoft'
          java-version: '17'
          cache: 'gradle'
      - name: Validate no assets
        run: test ! -d ./src/generated
      - name: Generate assets
        run: ./gradlew runData
      - name: Validate assets
        run: test -d ./src/generated/resources/.cache
      # Gradle Step for PRs
      - name: Build PR with Gradle
        run: ./gradlew build
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
        if: github.event_name == 'pull_request'
      # Gradle Step for normal branch pushes
      - name: Build PR with Gradle
        run: ./gradlew build
        if: github.event_name != 'pull_request'
      #- name: Run Game Tests
      #  run: ./gradlew runGametest
      - name: Upload new Source Text Strings to Crowdin
        run: ./gradlew uploadToCrowdin
        env:
          GIT_BRANCH: master
          CROWDIN_TOKEN: ${{ secrets.CROWDIN_TOKEN }}
        continue-on-error: true
        if: github.ref == 'refs/heads/master' && github.event_name != 'pull_request'
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: build/libs/
