name: 'Build PRs'

on:
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'microsoft'
          java-version: '17'
          cache: 'gradle'
      - name: Validate no assets
        run: test ! -d ./src/generated
      - name: Generate assets
        run: ./gradlew runData
      - name: Validate assets
        run: test -d ./src/generated -a -f ./src/generated/resources/.cache/cache
      - name: Build with Gradle
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: ./gradlew build
      - name: Run Game Tests
        run: ./gradlew runGametest
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: build/libs/
