name: 'Release'

on:
  create:
    tags:
      - fabric/v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Export current tag as environment variable
        env:
          TAG: ${{ github.event.ref }}
        run: echo "::set-env name=TAG::${TAG}"
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Validate no assets
        run: test ! -d ./src/generated
      - name: Build with Gradle
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew generateData build
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: build/libs/
      - name: Publish to github packages
        env:
          KEY_STORE_PASS: ${{ secrets.KEY_STORE_PASS }}
          KEY_STORE_ALIAS: ${{ secrets.KEY_STORE_ALIAS }}
          KEY_STORE_KEY_PASS: ${{ secrets.KEY_STORE_KEY_PASS }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew publishMavenPublicationToGitHubPackagesRepository --no-daemon --max-workers 1
      - name: Publish to modmaven
        env:
          KEY_STORE_PASS: ${{ secrets.KEY_STORE_PASS }}
          KEY_STORE_ALIAS: ${{ secrets.KEY_STORE_ALIAS }}
          KEY_STORE_KEY_PASS: ${{ secrets.KEY_STORE_KEY_PASS }}
          MODMAVEN_USER: ${{ secrets.MODMAVEN_USER }}
          MODMAVEN_PASSWORD: ${{ secrets.MODMAVEN_PASSWORD }}
        run: ./gradlew publishMavenPublicationToModmavenRepository --no-daemon --max-workers 1
      - name: Upload to curseforge
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CURSEFORGE: ${{ secrets.CURSEFORGE }}
        run: ./gradlew curseforge
